In [1]:
import re, json, requests
import pandas as pd
import json

In [2]:
df = pd.read_csv('Electric_Vehicle_Population_Data.csv')

In [3]:
df.head(2)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130443 entries, 0 to 130442
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         130443 non-null  object
 1   County                                             130440 non-null  object
 2   City                                               130440 non-null  object
 3   State                                              130443 non-null  object
 4   Postal Code                                        130440 non-null  float64
 5   Model Year                                         130443 non-null  int64
 6   Make                                               130443 non-null  object
 7   Model                                              130221 non-null  object
 8   Electric Vehicle Type                              130443 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  130443 non-null  object
 10  Electric Range                                     130443 non-null  int64
 11  Base MSRP                                          130443 non-null  int64
 12  Legislative District                               130138 non-null  float64
 13  DOL Vehicle ID                                     130443 non-null  int64
 14  Vehicle Location                                   130410 non-null  object
 15  Electric Utility                                   130440 non-null  object
 16  2020 Census Tract                                  130440 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 16.9+ MB

In [22]:
df[['Model Year','Model']]

        Model Year    Model
0             2018  MODEL X
1             2021  CLARITY
2             2019  MODEL 3
3             2013     LEAF
4             2017  MODEL S
...            ...      ...
130438        2023  MODEL Y
130439        2022     LEAF
130440        2021  MODEL Y
130441        2020  MODEL X
130442        2021  MODEL 3

[130443 rows x 2 columns]

In [28]:
df[df['County']=='Bothell City']

Empty DataFrame
Columns: [VIN (1-10), County, City, State, Postal Code, Model Year, Make, Model, Electric Vehicle Type, Clean Alternative Fuel Vehicle (CAFV) Eligibility, Electric Range, Base MSRP, Legislative District, DOL Vehicle ID, Vehicle Location, Electric Utility, 2020 Census Tract]
Index: []

In [30]:
df['Clean Alternative Fuel Vehicle (CAFV) Eligibility'].value_counts()

Clean Alternative Fuel Vehicle Eligible                         60551
Eligibility unknown as battery range has not been researched    53446
Not eligible due to low battery range                           16446
Name: Clean Alternative Fuel Vehicle (CAFV) Eligibility, dtype: int64